.landing{
	display: flex;
	flex-direction: column;
	align-items: center;
}


@font-face {
	font-family: 'Hind';
	src: local('Hind'), url(../../fonts/Hind-Medium.ttf) format('truetype');
  }

.title{
	font-family: 'Hind';
	/* font-style: italic; */
	font-size: 64px;
	line-height: 77px;

	color: #FFFFFF;
}
.principal_button{
	background: #DB3C90;
	border-radius: 40px;
	padding: 10px 20px 10px 20px;
	width: 100%;
	justify-content: center;
	border-width: 0px;

	font-family: 'Hind';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 48px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	transition: transform .15s;
}

.principal_button:hover{
	color: none;
	transform: translateY(-2px);
}

.principal_button:active{
	transition-duration: 50ms;
	transform: translateY(2px);
	background: #652045;
}

.title_image{
	max-width: 360.74px;
	max-height: 394.27px;
	width: 50%;
}

.link{
	min-width: 300px;
	width: 33%;
	text-decoration: none;
}
