@font-face {
	font-family: 'Quicksand';
	src: local('Quicksand'), url(../../fonts/Quicksand.ttf) format('truetype');
}

.name{
	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}

.list{
	font-family: Quicksand;
	max-width: 450px;
	min-width: 100px;
	/* border: solid white 1px; */
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap:10px;
	padding: 5px 5px 5px 0px;
	margin: 10px;
}

.tagsList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
	row-gap: 2px;
}

.tagsCross{
	background: #DB3C90;
	border-radius: 40px;
	max-width: 200px;
	min-width: 50px;
	min-height: 20px;
	padding: 3px 6px 3px 6px;
	margin-left: 3px;


	font-style: normal;
	font-size: 12px;
	line-height:10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	text-decoration: none;

	color: #FFFFFF;
}

.tagsNoCross{
	background: #DB3C90;
	border-radius: 40px;
	max-width: 200px;
	min-width: 50px;
	min-height: 20px;
	padding: 11px 6px 3px 6px;
	margin-left: 3px;
	text-align: center;
	
	font-style: normal;
	font-size: 12px;
	line-height:10px;

	color: #FFFFFF;
}


.tags:hover .cross{
	filter: invert(100%);
}

.cross{
	width: 10px;
	height: 10px;
	padding: 0px 0px 0px 5px;
}